
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 750px;
  }
  
  .di{
    display: grid;
    /* grid-template-columns: 10px 10px;   */
    }
  
  .first-button{
    display: grid;
    grid-template-columns: 70px 200px;
    padding-top: 5px;
  }
  
  h4{
  margin-top: 5px;
  }
  
  .images{
    /* height: 100vh; */
    display:grid;
    grid-template-columns:367px 367px;
    grid-gap:16px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: 20px  20px;
  }
  
  .fetchPhotosButton{
    margin-left:580px;
    width: 100px;
    border: none;
    
  }
  .fetchPhotosButton button{
    width:150px;
    background-color: rgb(130, 32, 130);
  border: none;
  /* border-radius: 5px; */
  color:white;
  padding:5px;
  font-family:Arial, Helvetica, sans-serif
  }
  
  
  
  /* Toggle switch button */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  /* first image */
  .first-image{
    position:relative;
  }
  
  h3{
    position: absolute;
    bottom:23px;
    /* left:1px; */
  }
   p{
    position: absolute;
    bottom: 5px;
    border:1px solid black;
    background-color: rgb(64, 62, 62);
    color:white;
    border:none;
    width: 367px;
    margin-right:20px;
    opacity:0.8;
   }
  
  
  
  /* h1 for the first picture */
  h3{
    border:1px solid black;
    background-color: rgb(64, 62, 62);
    color:white;
    border:none;
    width: 367px;
    margin-right:20px;
    opacity:0.8;
  }
  
  /* SECOND PHOTO */
  .second-photo{
    position: relative;
  }
  
  
  
  /* ThIRD PHOTO */
  
  .third-photo{
    position: relative;
  }
  
  
  .fourth-photo{
    position: relative;
  }
  
  
  